//Colors

//Primary Colors
$red: #EC1D24;
$white: #fff;


//Gray Colors
$boulder:#757575;
$tundora:#4A4A4A;
$french-gray:#C5C4C6;
$dusty-gray:#9B9B9B;
$mercury:#E4E4E4;
$alto:#DBDBDB;
$silver: #BABABA;
